<div class="card">
    <div class="card__cover">
        <img src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" alt="">
        <a href="/movies/detail?tmdbId=<%= movie.id %>" class="card__play">
            <i class="icon ion-ios-play"></i>
        </a>
    </div>
    <div class="card__content">
        <h3 class="card__title"><a href="/movies/detail?tmdbId=<%= movie.id %>"><%= movie.title %></a></h3>
        <span class="card__category">
            <% movie.genres.forEach((gen,i) => { %>
            <% if (i<2) { %>
            <a href="#"><%= gen.name %> </a>
            <% } %>
            <% }) %>
        </span>
        <span class="card__rate"><i class="icon ion-ios-star"></i><%= movie.vote_average /2 %></span>
    </div>
</div>